<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Railway">

    <test name="Test">
    <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="Testcases.RailWay.railways.TC01_LoginWithValidAccount"/>
            <class name="Testcases.RailWay.railways.TC02_LoginWithBlankUsername"/>
            <class name="Testcases.RailWay.railways.TC04_LoginFromBookTicket"/>
            <class name="Testcases.RailWay.railways.TC05_LoginSeveralTimes"/>
            <class name="Testcases.RailWay.railways.TC06_HomeLogged"/>
            <class name="Testcases.RailWay.railways.TC07_CreateAccount"/>
            <class name="Testcases.RailWay.railways.TC08_LoginWithNotActivatedAccount"/>
            <class name="Testcases.RailWay.railways.TC09_ChangeNewPassword"/>
            <class name="Testcases.RailWay.railways.TC10_RegisterWithInvalidAccount"/>
            <class name="Testcases.RailWay.railways.TC11_RegisterWithInvalidAccount"/>
            <class name="Testcases.RailWay.railways.TC14_BookTicket"/>
            <class name="Testcases.RailWay.railways.TC15_BookTicketFrTrainTimetable"/>
            <class name="Testcases.RailWay.railways.TC16_CancelTicket"/>
        </classes>
    </test>

</suite>